body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.addIcon{
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  font-size: 20px;
  width: 40px !important;
  height: 40px !important;
  background-color: #333;
  color: #fff !important;
  border-radius: 50%;
}

.cardImg{
  width: 100%;
    height: 25vw;
  object-fit: contain;
}

.wishlistIcn{
  background-color: orange;
  cursor: pointer;
  padding: 10px;
  width: 40px !important;
  height: 40px !important;
  color: #333 !important;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}